* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

/* header styles */
header {
  padding: 60px;
  font-family: Garamond;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  font-size: 40px;
}

header h1 {
  display: flex;
  font-size: 40px;
  color: teal;
  border-width: 30px;
  border-style: groove;
}

/*header navigation styles*/
header nav {
  padding-top: 20px;
  margin-right: 40px;
  float: center;
  font-family: Garamond;
  font-size: 30px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-flex;
  margin-left: 25px;
}

a {
  color: teal;
  text-decoration: underline;
}

.resume {
  padding-top: 20px;
  font-family: Garamond;
  font-size: 22px;
  text-align: center;
  color: teal;
  font-size: 30px;
  font-family: Garamond;
  font-weight: bold;
}
