* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

/* header styles */
header {
  padding: 60px;
  font-family: Garamond;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  white-space: nowrap;
  font-size: 40px;
}
/*header title border box similar to mock up, yet personalized*/
header h1 {
  display: flex;
  font-size: 40px;
  color: teal;
  border-width: 30px;
  border-style: groove;
}

/*header navigation styles*/
header nav {
  padding-top: 20px;
  margin-right: 40px;
  float: center;
  font-family: Garamond;
  font-size: 30px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-flex;
  margin-left: 25px;
}

/*header navigation tex-decoration underlined to look similar to mock-up*/
a {
  color: teal;
  text-decoration: underline;
}

/*cool subtitle styling*/
.cool-subtitle {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 20px;
  background: teal;
  color: black;
  text-align: center;
  font-size: xx-large;
  font-family: Garamond;
  font-weight: bold;
}

/*about me and projects styling*/
.about-me {
  padding-top: 20px;
  color: black;
  font-family: Garamond;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.beth-projects h1 {
  margin-bottom: 80px;
  font-size: 50px;
  color: teal;
  border-width: 30px;
  border-style: inset;
  font-size: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*styled nav for projects as could not get flex to work properly*/
.beth-projects nav {
  padding-top: 10px;
  padding-bottom: 20px;
  font-family: Garamond;
  font-size: 55px;
}

.beth-projects nav ul {
  list-style-type: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*styled applications with grow on hover toward challenge acceptance critera*/
.project-nav {
  transition: all 0.2s ease-in-out;
}

.project-nav:hover {
  transform: scale(1.1);
}

/*recent pic styles*/
.bap {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*footer styles*/
footer h2 {
  text-align: center;
  width: 100%;
  color: teal;
}
